XSD/DE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.de4a.eu/2020/data/evaluator"
	xmlns:ct="http://www.de4a.eu/2020/commons/type"
           targetNamespace="http://www.de4a.eu/2020/data/evaluator" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.de4a.eu/2020/commons/type" schemaLocation="de4a/common-types.xsd"/>

	<xs:element name="RequestForwardEvidence" type="ct:ResponseExtractMultiEvidenceType"/>
	<xs:element name="UsiRedirectUser" type="ct:RedirectUserType"/>
	<xs:element name="EventNotification" type="ct:EventNotificationType"/>
</xs:schema>
