XSD/DE1-USI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.de4a.eu/2020/data/evaluator/pattern/usi" targetNamespace="http://www.de4a.eu/2020/data/evaluator/pattern/usi" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="commons-type\common-types.xsd"/>
	<xs:element name="RequestForwardEvidence">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestId" type="RequestIdType"/>
				<xs:element name="TimeStamp" type="TimeStampType"/>
				<xs:element name="PreviewResponse" type="PreviewResponseType"/>
				<xs:element name="CanonicalEvidence" type="CanonicalEvidenceType"/>
				<xs:element name="DomesticEvidenceList" type="DomesticsEvidencesType"/>
			</xs:sequence>
			<xs:attribute name="Language" type="xs:language" use="optional" default="en"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResponseForwardEvidence">
		<xs:complexType>
			<xs:all>
				<xs:element name="Ack" type="AckType"/>
				<xs:element name="Error" type="ErrorType" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
