XSD/de4a/common-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.de4a.eu/2020/commons/type" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:cv="https://data.europe.eu/semanticassets/ns/cv/common/dataTypes-2.0.0#" xmlns:ct="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" xmlns:clmIANAMIMEMediaType="urn:un:unece:uncefact:codelist:specification:IANAMIMEMediaType:2003" xmlns:cit="http://www.de4a.eu/2020/commons/identity/type" targetNamespace="http://www.de4a.eu/2020/commons/type" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" schemaLocation="../provided/BDNDR-CCTS_CCT_SchemaModule-1.1.xsd"/>
	<xs:import namespace="urn:un:unece:uncefact:codelist:specification:IANAMIMEMediaType:2003" schemaLocation="../provided/CodeList_MIMEMediaTypeCode_IANA_7_04.xsd"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="../provided/xml.xsd"/>
	<xs:import namespace="https://data.europe.eu/semanticassets/ns/cv/common/dataTypes-2.0.0#" schemaLocation="../provided/CV-DataTypes.xsd"/>
	<xs:import namespace="http://www.de4a.eu/2020/commons/identity/type" schemaLocation="common-identity-types.xsd"/>
	<xs:simpleType name="CountryType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Start Ids types -->
	<xs:simpleType name="UUIDType">
		<xs:annotation>
			<xs:documentation>https://www.ietf.org/rfc/rfc4122.txt</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RequestIdType">
		<xs:restriction base="UUIDType"/>
	</xs:simpleType>
	<xs:simpleType name="SpecificationIdType">
		<xs:restriction base="IdType"/>
	</xs:simpleType>
	<xs:simpleType name="ProcedureIdType">
		<xs:restriction base="IdType">
			<xs:minLength value="3"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CanonicalEvidenceIdType">
		<xs:restriction base="IdType"/>
	</xs:simpleType>
	<xs:simpleType name="IdType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
			<xs:pattern value="[^\s+][^\s]+[^\s+]"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- End Ids types -->
	<xs:simpleType name="TimeStampType">
		<xs:annotation>
			<xs:documentation>Format: YYYY-MM-DDThh:mm:ss</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<!-- Starts Evidences -->
	<xs:complexType name="CanonicalEvidenceType">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DomesticsEvidencesType">
		<xs:sequence>
			<xs:element name="DomesticEvidence" type="DomesticEvidenceType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang" use="optional" default="en"/>
	</xs:complexType>
	<xs:complexType name="DomesticEvidenceType">
		<xs:sequence>
			<xs:element name="IssuingType" type="IssuingTypeType"/>
			<xs:element name="MimeType" type="clmIANAMIMEMediaType:BinaryObjectMimeCodeContentType"/>
			<xs:element name="DataLanguage" type="DataLanguageType"/>
			<xs:element name="EvidenceData" type="xs:base64Binary"/>
			<xs:element name="AdditionalInfo" type="ct:TextType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IssuingTypeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="OriginalIssuing"/>
			<xs:enumeration value="MultinlingualFormIssuing"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataLanguageType">
		<xs:restriction base="xs:language"/>
	</xs:simpleType>
	<!-- Ends Evidences -->
	<!-- Starts Others -->
	<xs:complexType name="ServiceInputParametersType">
		<xs:sequence>
			<xs:element name="ServiceInputParameter" type="ServiceInputParameterType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceInputParameterType">
		<xs:sequence>
			<xs:element name="Label" type="ServiceInputParameterLabelType"/>
			<xs:element name="Type" type="ServiceInputParameterTypeType"/>
			<xs:element name="Value" type="ServiceInputParameterValueType"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang" use="optional" default="en"/>
	</xs:complexType>
	<xs:simpleType name="ServiceInputParameterLabelType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceInputParameterTypeType">
		<xs:annotation>
			<xs:documentation>Its posiblle add more enumerations elements</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Date"/>
			<xs:enumeration value="InputText"/>
			<xs:enumeration value="YesNo"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceInputParameterValueType">
		<xs:annotation>
			<xs:documentation>Parametter value </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DataRequestSubjectCVType">
		<xs:sequence>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="DataSubjectPerson" type="cit:NaturalPersonIdentifierType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="DataSubjectCompany" type="cit:LegalPersonIdentifierType" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
			<xs:element name="DataSubjectRepresentative" type="cit:NaturalPersonIdentifierType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestGroundsType">
		<xs:choice minOccurs="1" maxOccurs="1">
			<xs:element name="LawELIPermanentLink" type="LawELIPermanentLinkType"/>
			<xs:element name="ExplicitRequest" type="ExplicitRequestType"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="LawELIPermanentLinkType">
		<xs:restriction base="xs:anyURI">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExplicitRequestType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="SDGR14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EvidenceTypeCodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Ends Others -->
	<!-- Start Error types -->
	<xs:complexType name="ErrorListType">
		<xs:sequence>
			<xs:element name="Error" type="ErrorType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorType">
		<xs:sequence>
			<xs:element name="Code" type="CodeErrorType"/>
			<xs:element name="Text" type="TextErrorType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CodeErrorType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TextErrorType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- End Error types -->
	<!-- Start ACK types -->
	<xs:simpleType name="AckType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK"/>
			<xs:enumeration value="KO"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- End ACK types -->
	<!-- Start Agent Type -->
	<xs:complexType name="AgentType">
		<xs:sequence>
			<xs:element name="AgentUrn" type="AgentUrnType"/>
			<xs:element name="AgentName" type="cv:NameType"/>
			<xs:element name="RedirectURL" type="RedirectURLType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AgentUrnType">
		<xs:restriction base="xs:anyURI">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- End Agent Type -->
	<!-- Start New IDK -->
	<xs:complexType name="AvaliableSourcesType">
		<xs:sequence>
			<xs:element name="Source" type="SourcesType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourcesType">
		<xs:sequence>
			<xs:element name="CountryCode" type="CountryType" minOccurs="0"/>
			<xs:element name="AtuLevel" type="AtuLevelType" minOccurs="0"/>
			<xs:choice>
				<xs:sequence>
					<xs:element name="NumProvisions" type="NumProvisionsType"/>
					<xs:element name="Organisation" type="OrganisationType" minOccurs="0"/>
				</xs:sequence>
				<xs:element name="ProvisionsItem" type="ProvisionsItemType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProvisionsItemType">
		<xs:sequence>
			<xs:element name="ProvisionItem" type="ProvisionItemType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProvisionItemType">
		<xs:sequence>
			<xs:element name="AtuCode" type="AtuCodeType" minOccurs="0"/>
			<xs:element name="AtuLatinName" type="AtuLatinNameType" minOccurs="0"/>
			<xs:element name="DataOwnerId" type="AgentUrnType" minOccurs="0"/>
			<xs:element name="DataOwnerPrefLabel" type="DataOwnerPrefLabelType" minOccurs="0"/>
			<xs:element name="Provision" type="ProvisionType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProvisionType">
		<xs:sequence>
			<xs:element name="ProvisionType" type="ProvisionTypeType"/>
			<xs:choice>
				<xs:element name="RedirectURL" type="RedirectURLType"/>
				<xs:element name="Params" type="ParamsType" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NumProvisionsType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrganisationType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataOwnerPrefLabelType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProvisionTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ip"/>
			<xs:enumeration value="usip"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ParamsType">
		<xs:sequence>
			<xs:element name="Param" type="ParamType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParamType">
		<xs:sequence>
			<xs:element name="Title" type="TitleType"/>
			<xs:element name="ParamsSet" type="ParamsSetType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParamsSetType">
		<xs:sequence>
			<xs:element name="ParamSet" type="ParamSetType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ParamSetType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- End New IDK -->
	<!-- Start IDK Type -->
	<xs:simpleType name="ServiceType">
		<xs:restriction base="IdType"/>
	</xs:simpleType>
	<xs:simpleType name="CanonicalEvidenceidkType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HigherEdCertificate"/>
			<xs:enumeration value="SecondaryEdCertificate"/>
			<xs:enumeration value="ResidencyProof"/>
			<xs:enumeration value="BirthCertificate"/>
			<xs:enumeration value="MarriageCertificate"/>
			<xs:enumeration value="CompanyRegistration"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RedirectURLType">
		<xs:restriction base="xs:anyURI">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DataQualityType">
		<xs:sequence>
			<xs:element name="PopulationCoverage" type="PopulationCoverageType" minOccurs="0"/>
			<xs:element name="AdditionalInfo" type="AdditionalInfoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PopulationCoverageType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdditionalInfoType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="InputParameterSetsType">
		<xs:sequence>
			<xs:element name="SerialNumber" type="SerialNumberType"/>
			<xs:element name="Title" type="TitleType"/>
			<xs:element name="RecordMatchingAssurance" type="RecordMatchingAssuranceType" minOccurs="0"/>
			<xs:element name="Parameters" type="ParametersType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SerialNumberType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TitleType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RecordMatchingAssuranceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="low"/>
			<xs:enumeration value="medium"/>
			<xs:enumeration value="high"/>
			<xs:enumeration value="exact"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ParametersType">
		<xs:sequence>
			<xs:element name="Parameter" type="ParameterType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParameterType">
		<xs:sequence>
			<xs:element name="ItemId" type="ItemIdType"/>
			<xs:element name="ItemType" type="ItemTypeType" minOccurs="0"/>
			<xs:element name="DataType" type="DataTypeType" minOccurs="0"/>
			<xs:element name="Constraints" type="ConstraintsType" minOccurs="0"/>
			<xs:element name="Texts" type="TextsType" minOccurs="0"/>
			<!-- Pending its recursive-->
			<!--xs:element name="Children" type="ParameterType" minOccurs="0"/-->
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ItemIdType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ItemTypeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="attribute"/>
			<xs:enumeration value="element"/>
			<xs:enumeration value="complexType"/>
			<xs:enumeration value="value"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConstraintsType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TextsType">
		<xs:sequence>
			<xs:element name="Text" type="TextType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TextType">
		<xs:sequence>
			<xs:element name="Lang" type="LangType" minOccurs="0"/>
			<xs:element name="Label" type="LabelType" minOccurs="0"/>
			<xs:element name="Definition" type="DefinitionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="LangType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LabelType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DefinitionType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IaLevelPathType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IaTotalNumType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AtuLevelType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="nuts0"/>
			<xs:enumeration value="nuts1"/>
			<xs:enumeration value="nuts2"/>
			<xs:enumeration value="nuts3"/>
			<xs:enumeration value="lau"/>
			<xs:enumeration value="edu"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AtuCodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AtuLatinNameType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- End IDK Type  -->
	<!-- Start Interface Types -->
	<xs:complexType name="RequestTransferEvidenceUSIDTType">
		<xs:sequence>
			<xs:element name="RequestId" type="RequestIdType"/>
			<xs:element name="SpecificationId" type="SpecificationIdType"/>
			<xs:element name="TimeStamp" type="TimeStampType"/>
			<xs:element name="ProcedureId" type="ProcedureIdType" minOccurs="0"/>
			<xs:element name="DataEvaluator" type="AgentType"/>
			<xs:element name="DataOwner" type="AgentType"/>
			<xs:element name="DataRequestSubject" type="DataRequestSubjectCVType"/>
			<xs:element name="CanonicalEvidence" type="CanonicalEvidenceType"/>
			<xs:element name="DomesticEvidenceList" type="DomesticsEvidencesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestTransferEvidenceUSIIMDRType">
		<xs:sequence>
			<xs:element name="RequestId" type="RequestIdType"/>
			<xs:element name="SpecificationId" type="SpecificationIdType"/>
			<xs:element name="TimeStamp" type="TimeStampType"/>
			<xs:element name="ProcedureId" type="ProcedureIdType" minOccurs="0"/>
			<xs:element name="DataEvaluator" type="AgentType"/>
			<xs:element name="DataOwner" type="AgentType"/>
			<xs:element name="DataRequestSubject" type="DataRequestSubjectCVType"/>
			<xs:element name="RequestGrounds" type="RequestGroundsType"/>
			<xs:element name="CanonicalEvidenceTypeId" type="CanonicalEvidenceIdType"/>
			<xs:element name="ServiceInputParameters" type="ServiceInputParametersType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestExtractEvidenceUSIType">
		<xs:sequence>
			<xs:element name="RequestId" type="RequestIdType"/>
			<xs:element name="SpecificationId" type="SpecificationIdType"/>
			<xs:element name="TimeStamp" type="TimeStampType"/>
			<xs:element name="ProcedureId" type="ProcedureIdType" minOccurs="0"/>
			<xs:element name="DataEvaluator" type="AgentType"/>
			<xs:element name="DataOwner" type="AgentType"/>
			<xs:element name="DataRequestSubject" type="DataRequestSubjectCVType"/>
			<xs:element name="RequestGrounds" type="RequestGroundsType"/>
			<xs:element name="CanonicalEvidenceTypeId" type="CanonicalEvidenceIdType"/>
			<xs:element name="ServiceInputParameters" type="ServiceInputParametersType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestExtractEvidenceIMType">
		<xs:sequence>
			<xs:element name="RequestId" type="RequestIdType"/>
			<xs:element name="SpecificationId" type="SpecificationIdType"/>
			<xs:element name="TimeStamp" type="TimeStampType"/>
			<xs:element name="ProcedureId" type="ProcedureIdType" minOccurs="0"/>
			<xs:element name="DataEvaluator" type="AgentType"/>
			<xs:element name="DataOwner" type="AgentType"/>
			<xs:element name="DataRequestSubject" type="DataRequestSubjectCVType"/>
			<xs:element name="RequestGrounds" type="RequestGroundsType"/>
			<xs:element name="CanonicalEvidenceTypeId" type="CanonicalEvidenceIdType"/>
			<xs:element name="ServiceInputParameters" type="ServiceInputParametersType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseExtractEvidenceType">
		<xs:choice>
			<xs:sequence>
				<xs:element name="CanonicalEvidence" type="CanonicalEvidenceType"/>
				<xs:element name="DomesticEvidenceList" type="DomesticsEvidencesType" minOccurs="0"/>
			</xs:sequence>
			<xs:element name="ErrorList" type="ErrorListType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ResponseTransferEvidenceType">
		<xs:sequence>
			<xs:sequence>
				<xs:element name="RequestId" type="RequestIdType"/>
				<xs:element name="SpecificationId" type="SpecificationIdType"/>
				<xs:element name="TimeStamp" type="TimeStampType"/>
				<xs:element name="ProcedureId" type="ProcedureIdType" minOccurs="0"/>
				<xs:element name="DataEvaluator" type="AgentType"/>
				<xs:element name="DataOwner" type="AgentType"/>
				<xs:element name="DataRequestSubject" type="DataRequestSubjectCVType"/>
				<xs:element name="CanonicalEvidenceTypeId" type="CanonicalEvidenceIdType"/>
			</xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element name="CanonicalEvidence" type="CanonicalEvidenceType"/>
					<xs:element name="DomesticEvidenceList" type="DomesticsEvidencesType" minOccurs="0"/>
				</xs:sequence>
				<xs:element name="ErrorList" type="ErrorListType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestForwardEvidenceType">
		<xs:sequence>
			<xs:element name="RequestId" type="RequestIdType"/>
			<xs:element name="TimeStamp" type="TimeStampType"/>
			<xs:element name="CanonicalEvidence" type="CanonicalEvidenceType"/>
			<xs:element name="DomesticEvidenceList" type="DomesticsEvidencesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestLookupRoutingInformationType">
		<xs:sequence>
			<xs:element name="CanonicalEvidenceTypeId" type="CanonicalEvidenceIdType"/>
			<xs:choice>
				<xs:element name="CountryCode" type="CountryType" minOccurs="0"/>
				<xs:element name="DataOwnerId" type="AgentUrnType" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseLookupRoutingInformationType">
		<xs:choice>
			<xs:element name="AvaliableSources" type="AvaliableSourcesType"/>
			<xs:element name="ErrorList" type="ErrorListType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ResponseErrorType">
		<xs:sequence>
			<xs:element name="Ack" type="AckType"/>
			<xs:element name="ErrorList" type="ErrorListType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- End Interface Types -->
</xs:schema>
