XSD/de4a/common-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.de4a.eu/2020/commons/type" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cagv="https://semic.org/sa/cv/cagv/agent-2.0.0#" xmlns:cva="http://www.w3.org/ns/corevocabulary/AggregateComponents" xmlns:cbc="https://data.europe.eu/semanticassets/ns/cv/common/cbc_v2.0.0#" xmlns:cdt="https://semic.org/sa/cv/common/dataTypes-2.0.0#" xmlns:ct="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" xmlns:clmIANAMIMEMediaType="urn:un:unece:uncefact:codelist:specification:IANAMIMEMediaType:2003" xmlns:cit="http://www.de4a.eu/2020/commons/identity/type" xmlns:isoc="http://www.de4a.eu/2020/commons/country/iso3166-1" targetNamespace="http://www.de4a.eu/2020/commons/type" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="https://semic.org/sa/cv/cagv/agent-2.0.0#" schemaLocation="../provided/CV-Agent.xsd"/>
	<xs:import namespace="http://www.w3.org/ns/corevocabulary/AggregateComponents" schemaLocation="../provided/CoreVocabularies-AggregateComponents-1.1.xsd"/>
	<xs:import namespace="https://data.europe.eu/semanticassets/ns/cv/common/cbc_v2.0.0#" schemaLocation="../provided/CV-CommonBasicComponents.xsd"/>
	<xs:import namespace="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" schemaLocation="../provided/CCTS_CCT_SchemaModule-2.1.xsd"/>
	<xs:import namespace="urn:un:unece:uncefact:codelist:specification:IANAMIMEMediaType:2003" schemaLocation="../provided/CodeList_MIMEMediaTypeCode_IANA_7_04.xsd"/>
	<xs:import namespace="http://www.de4a.eu/2020/commons/country/iso3166-1" schemaLocation="ISO3166-1-Country-Codes.xsd"/>
	<xs:import namespace="http://www.de4a.eu/2020/commons/identity/type" schemaLocation="common-identity-types.xsd"/>
	<xs:simpleType name="CountryType">
		<!--xs:restriction base="isoc:ISO3166-Country-Code"/-->
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Start Ids types -->
	<xs:simpleType name="RequestIdType">
		<xs:restriction base="IdType"/>
	</xs:simpleType>
	<xs:simpleType name="SpecificationIdType">
		<xs:restriction base="IdType"/>
	</xs:simpleType>
	<xs:simpleType name="ProcedureIdType">
		<xs:restriction base="IdType">
			<xs:minLength value="3"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReturnServiceIdType">
		<xs:restriction base="IdType"/>
	</xs:simpleType>
	<xs:simpleType name="CanonicalEvidenceIdType">
		<xs:restriction base="IdType"/>
	</xs:simpleType>
	<xs:simpleType name="IdType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
			<xs:pattern value="[^\s+][^\s]+[^\s+]"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- End Ids types -->
	<!-- Start Agent types -->
	<xs:complexType name="DataEvaluatorType">
		<xs:sequence>
			<xs:element name="Agent" type="AgentCVType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataOwnerType">
		<xs:sequence>
			<xs:element name="Agent" type="AgentCVType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataTransferorType">
		<xs:sequence>
			<xs:element name="Agent" type="AgentCVType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- End Agent types -->
	<xs:simpleType name="TimeStampType">
		<xs:annotation>
			<xs:documentation>Format: YYYY-MM-DDThh:mm:ss</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<!-- Starts Evidences -->
	<xs:complexType name="EvidenceServiceDataType">
		<xs:sequence>
			<xs:element name="EvidenceServiceURI" type="EvidenceServiceURIType"/>
			<xs:element name="ServiceInputParameters" type="ServiceInputParametersType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CanonicalEvidenceType">
		<xs:sequence>
			<xs:any namespace="##any" processContents="strict"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DomesticsEvidencesType">
		<xs:sequence>
			<xs:element name="DomesticEvidence" type="DomesticEvidenceType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Language" type="xs:language" use="optional" default="en"/>
	</xs:complexType>
	<xs:complexType name="DomesticEvidenceType">
		<xs:sequence>
			<xs:element name="DomesticEvidenceIdRef" type="IdRefType" minOccurs="0"/>
			<xs:element name="IssuingType" type="IssuingTypeType"/>
			<xs:element name="MimeType" type="clmIANAMIMEMediaType:BinaryObjectMimeCodeContentType"/>
			<xs:element name="DataLanguage" type="DataLanguageType"/>
			<xs:element name="EvidenceData" type="xs:base64Binary"/>
			<xs:element name="AddtionalInfo" type="ct:TextType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PreviewResponseType">
		<xs:annotation>
			<xs:documentation>To be defined</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IdRefType">
		<xs:restriction base="xs:IDREF"/>
	</xs:simpleType>
	<xs:simpleType name="IssuingTypeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="OriginalIssuing"/>
			<xs:enumeration value="MultinlingualFormIssuing"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataLanguageType">
		<xs:restriction base="xs:language"/>
	</xs:simpleType>
	<!-- Ends Evidences -->
	<!-- Starts Others -->
	<xs:complexType name="IssuingAuthorityType">
		<xs:sequence>
			<xs:element name="EvidenceTypeId" type="EvidenceTypeIdType"/>
			<xs:element name="CountryCode" type="CountryType"/>
			<xs:element name="IaLevelPath" type="IaLevelPathType"/>
			<xs:element name="IaTotalNum" type="IaTotalNumType"/>
			<xs:element name="IaOrganisationalStructure" type="IaOrganisationalStructureType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EvidenceServiceType">
		<xs:annotation>
			<xs:documentation>The rest of the service metadata is located in the Central Directory</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Service" type="ServiceType"/>
			<xs:element name="CanonicalEvidenceType" type="CanonicalEvidenceidkType"/>
			<xs:element name="DataOwner" type="DataOwnerType"/>
			<xs:element name="DataTransferor" type="DataTransferorType"/>
			<xs:element name="RedirectURL" type="RedirectURLType" minOccurs="0"/>
			<xs:element name="DataQuality" type="DataQualityType" minOccurs="0"/>
			<xs:element name="InputParameterSets" type="InputParameterSetsType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdminTerritorialUnitsType">
		<xs:sequence>
			<xs:element name="AdminTerritorialUnit" type="AdminTerritorialUnitType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Language" type="xs:language" use="optional" default="en"/>
	</xs:complexType>
	<xs:simpleType name="AdminLevelType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EvidenceServiceURIType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ServiceInputParametersType">
		<xs:sequence>
			<xs:element name="ServiceInputParameter" type="ServiceInputParameterType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceInputParameterType">
		<xs:sequence>
			<xs:element name="Label" type="ServiceInputParameterLabelType"/>
			<xs:element name="Type" type="ServiceInputParameterTypeType"/>
			<xs:element name="Value" type="ServiceInputParameterValueType"/>
		</xs:sequence>
		<xs:attribute name="Language" type="xs:language" use="optional" default="en"/>
	</xs:complexType>
	<xs:simpleType name="ServiceInputParameterLabelType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceInputParameterTypeType">
		<xs:annotation>
			<xs:documentation>Its posiblle add more enumerations elements</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Date"/>
			<xs:enumeration value="InputeText"/>
			<xs:enumeration value="YesNo"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceInputParameterValueType">
		<xs:annotation>
			<xs:documentation>Parametter value </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdminTerritorialUnitType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DataRequestSubjectCVType">
		<xs:sequence>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="DataSubjectPerson" type="cit:NaturalPersonIdentifierType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="DataSubjectCompany" type="cit:LegalEntityIdentifierType" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
			<xs:element name="DataSubjectRepresentative" type="cit:NaturalPersonIdentifierType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AditionalInfoType">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestGroundsType">
		<xs:choice minOccurs="1" maxOccurs="1">
			<xs:element name="LawELIPermanentLink" type="LawELIPermanentLinkType"/>
			<xs:element name="ExplicitRequest" type="ExplicitRequestType"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="LawELIPermanentLinkType">
		<xs:restriction base="xs:anyURI">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExplicitRequestType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="SDGR14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EvidenceTypeCodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Ends Others -->
	<!-- Start Error types -->
	<xs:complexType name="ErrorListType">
		<xs:sequence>
			<xs:element name="Error" type="ErrorType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorType">
		<xs:sequence>
			<xs:element name="Code" type="CodeErrorType"/>
			<xs:element name="Text" type="TextErrorType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CodeErrorType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TextErrorType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- End Error types -->
	<!-- Start ACK types -->
	<xs:simpleType name="AckType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK"/>
			<xs:enumeration value="KO"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- End ACK types -->
	<!-- Start Agent CV -->
	<xs:complexType name="AgentCVType">
		<xs:sequence>
			<xs:element ref="cbc:id"/>
			<xs:element ref="cbc:name"/>
		</xs:sequence>
	</xs:complexType>
	<!-- End Agent CV -->
	<!-- Start IDK Type -->
	<xs:simpleType name="ServiceType">
		<xs:restriction base="IdType"/>
	</xs:simpleType>
	<xs:simpleType name="CanonicalEvidenceidkType">
		<xs:restriction base="IdType"/>
	</xs:simpleType>
	<xs:simpleType name="RedirectURLType">
		<xs:restriction base="xs:anyURI">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DataQualityType">
		<xs:sequence>
			<xs:element name="PopulationCoverage" type="PopulationCoverageType" minOccurs="0"/>
			<xs:element name="AdditionalInfo" type="AdditionalInfoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PopulationCoverageType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdditionalInfoType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="InputParameterSetsType">
		<xs:sequence>
			<xs:element name="SerialNumber" type="SerialNumberType"/>
			<xs:element name="Title" type="TitleType"/>
			<xs:element name="RecordMatchingAssurance" type="RecordMatchingAssuranceType" minOccurs="0"/>
			<xs:element name="Parameters" type="ParametersType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SerialNumberType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TitleType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RecordMatchingAssuranceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="low"/>
			<xs:enumeration value="medium"/>
			<xs:enumeration value="high"/>
			<xs:enumeration value="exact"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ParametersType">
		<xs:sequence>
			<xs:element name="Parameter" type="ParameterType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParameterType">
		<xs:sequence>
			<xs:element name="ItemId" type="ItemIdType"/>
			<xs:element name="ItemType" type="ItemTypeType" minOccurs="0"/>
			<xs:element name="DataType" type="DataTypeType" minOccurs="0"/>
			<xs:element name="Constraints" type="ConstraintsType" minOccurs="0"/>
			<xs:element name="Texts" type="TextsType" minOccurs="0"/>
			<!-- Pending its recursive-->
			<!--xs:element name="Children" type="ParameterType" minOccurs="0"/-->
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ItemIdType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ItemTypeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="attribute"/>
			<xs:enumeration value="element"/>
			<xs:enumeration value="complexType"/>
			<xs:enumeration value="value"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConstraintsType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TextsType">
		<xs:sequence>
			<xs:element name="Text" type="TextType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TextType">
		<xs:sequence>
			<xs:element name="Lang" type="LangType" minOccurs="0"/>
			<xs:element name="Label" type="LabelType" minOccurs="0"/>
			<xs:element name="Definition" type="DefinitionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="LangType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LabelType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DefinitionType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EvidenceTypeIdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HigherEdCertificate"/>
			<xs:enumeration value="SecondaryEdCertificate"/>
			<xs:enumeration value="ResidencyProof"/>
			<xs:enumeration value="BirthCertificate"/>
			<xs:enumeration value="MarriageCertificate"/>
			<xs:enumeration value="DeathCertificate "/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IaLevelPathType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IaTotalNumType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IaOrganisationalStructureType">
		<xs:sequence>
			<xs:element name="Element" type="ElementType"/>
			<!-- Pending its recursive-->
			<!--xs:element name="Children" type="ElementType" minOccurs="0"/-->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ElementType">
		<xs:sequence>
			<xs:element name="AtuLevel" type="AtuLevelType"/>
			<xs:element name="AtuPath" type="AtuPathType"/>
			<xs:element name="AtuCode" type="AtuCodeType"/>
			<xs:element name="AtuName" type="AtuNameType"/>
			<xs:element name="AtuLatinName" type="AtuLatinNameType"/>
			<!--xs:element name="Children" type="LabelType" minOccurs="0"/-->
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AtuLevelType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="nuts1"/>
			<xs:enumeration value="nuts2"/>
			<xs:enumeration value="nuts3"/>
			<xs:enumeration value="lau"/>
			<xs:enumeration value="university "/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AtuPathType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AtuCodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AtuNameType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AtuLatinNameType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- End IDK Type  -->
</xs:schema>
